## Creación

In [8]:
lista = [2,"DAM",False,[1, 2]]
print(lista)
print(type(lista)) #ver el tipo de elemento
print(type(lista[0])) #ver el tipo del primer elemento
print(type(lista[1])) #ver el tipo del segundo elemento

[2, 'DAM', False, [1, 2]]
<class 'list'>
<class 'int'>
<class 'str'>

In [5]:
#Acceder a los elementos
lista = [2,"DAM",False,[1, 2]]
valor = lista[0] # valor vale 2
valor = lista[1] # valor vale “DAM”
valor = lista[3][0] # valor 1

In [16]:
#Modificar elementos de una lista
lista = [2,"DAM",False,[1, 2]]
lista[1] = "ASIR" # Con esto lista[1]
print(lista)

[2, 'ASIR', False, [1, 2]]

In [7]:
#Slice o particionado
#Caso 1 [inicio:final]
print(lista[0:2]) #Obtendremos (Nunca se incluye el 2) [2,"ASIR"]
#Caso 2 [inicio:final:salto]
print(lista[0:4:2])  #Obtendremos [2, False]

[2, 'ASIR']
[2, False]

In [72]:
#Ejemplos índices negativos
#lista = [2,"ASIR",False,[1, 2]]
print(lista[4:1:-1])
print(lista[-3:-1])
print(lista[-4:-2:-1])

[[1, 2], False]
['ASIR', False]
[]

# Caso práctico 1
Lee una cadena de texto del usuario y para cada letra indica si es una vocal o una consonante.

In [75]:
cadena = input("Introduzca texto ")
vocales = ["a", "e", "i", "o", "u"]
for i in cadena:
    if i in vocales:
        print("La letra %s es una vocal" %(i))
    else:
        print("La letra %s es una consonante" %(i))

Introduzca texto hola
La letra h es una consonante
La letra o es una vocal
La letra l es una consonante
La letra a es una vocal

# Caso práctico 2
Si tenemos una lista con nombres de ciudades, que muestre las ciudades que empiecen con la letra m.

In [80]:
ciudades = ["Madrid", "Málaga" ,"Barcelona"]
for i in ciudades:
    if i .lower().startswith("m"):
        print(i)

Madrid
Málaga

# Caso práctico 3
Escriba un programa de Python para imprimir los números de una lista especificada después de y que cree una nueva solo con los números pares.

In [3]:
lista = [2,3,5,6,7,10]
pares = []
for i in lista:
    if i%2 == 0:
        pares.append(i)
print("Lista original" ,lista)
print("Lista pares" ,pares)

Lista original [2, 3, 5, 6, 7, 10]
Lista pares [2, 6, 10]

# Caso práctico 4.1
Si se tiene la siguiente lista: lista["SGE",3.0,["A","B"],10,"FINAL"], indicar qué devolverá cada uno de los siguientes casos:

* print (type(lista[2][1])) d.print (lista[0:4])
* print (lista[2][1]) e.print (lista[1][1])
* print (lista[0:3:1]) f. lista[2][2]="z"

In [13]:
lista = ["SGE",3.0,["A","B"],10,"FINAL"]
print(lista)

['SGE', 3.0, ['A', 'B'], 10, 'FINAL']

In [15]:
print (type(lista[2][1]))
print (lista[2][1])
print (lista[0:4]) #Hasta el 10

<class 'str'>
B
['SGE', 3.0, ['A', 'B'], 10]

In [19]:
print (lista[2][1]) #Sale B
#print (lista[1][1]) #error porque no es una lista

B

In [24]:
print (lista[0:3:1]) #de 0 a 3 (["A","B"]) sin salto
#lista[2][2]="z" #Error porque se pasa dentro de la segunda lista

['SGE', 3.0, ['A', 'z']]

# Caso práctico 4.2
Si se tiene la siguiente lista: lista["A","B","C",1,2,["LUNES","MARTES"]], indicar qué devolverá cada uno de los siguientes casos:

* Añadir la letra z
* Indicar la longitud de la lista
* print (lista[::4])
* print (lista[0:3:2])
* print (lista[-1][0]) 
* print (lista[2::1])

In [2]:
lista = ["A","B","C",1,2,["LUNES","MARTES"]]

In [3]:
lista.append("z")
print(lista)

['A', 'B', 'C', 1, 2, ['LUNES', 'MARTES'], 'z']

In [4]:
print(len(lista)) #función que indica la longitud de la lista.

7

In [5]:
print(lista[::4]) #inicio 0, final de la lista, salto 4

['A', 2]

In [6]:
print(lista[0:3:2]) #inicio 0, final 3, salto dos, pinta: A,C

['A', 'C']

In [9]:
print(lista[-1][0]) #inicio al final y como no es una lista, pinta z

z

In [10]:
print (lista[2::1]) #Empieza en C hasta el final

['C', 1, 2, ['LUNES', 'MARTES'], 'z']

# Caso práctico 4.3
Basándose en la siguiente lista, a = [66.25, 333, 333, 1, 1234.5]:

+ Cuántas veces se repite 333 y 66.25 y 'x'.
+ Insertar en la posición 2 un -1 a.insert(2, -1).
+ Añade al final un nuevo 333 a.append(333).
+ Ordena la lista.

In [15]:
a = [66.25, 333, 333, 1, 1234.5]

In [16]:
print(a.count(333))
print(a.count(66.25))
print(a.count("x"))

2
1
0

In [17]:
a.insert(2,-1)

In [18]:
print(a)

[66.25, 333, -1, 333, 1, 1234.5]

In [19]:
a.append(333)

In [20]:
print(a)

[66.25, 333, -1, 333, 1, 1234.5, 333]

In [21]:
a.sort()
print(a)

[-1, 1, 66.25, 333, 333, 333, 1234.5]